[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
tqdm = "*"
scipy = "*"
mlxtend = "*"
dtreeviz = "*"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.11"
